* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  margin: 0 auto;
  background-color: #EEEEEE;
  max-width: 1440px;
  min-height: 2840px;
}

.header__container {
  margin: 0 auto;
  max-width: 1064px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.header-right__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav__ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
}

.cart-red {
  width: 44px;
  height: 44px;
}

.logo {
  height: 60px;
}

.content__container {
  max-width: 1064px;
  margin: 0 auto;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  max-width: 1064px;
  margin: 0 auto;
  margin-top: 1rem;
}

.hero {
  width: 1064px;
}

.product__card {
  position: relative;
  height: 520px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.cart-grey {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 1rem;
  border-radius: 50%;
  background-color: #EEEEEE;
}

.product__text {
  font-family: sans-serif;
}

.product__font-weight {
  font-weight: 700;
}

.product__btn {
  position: relative;
  position: absolute;
  background-color: black;
  border-radius: 50px;
  min-width: 122px;
  min-height: 47px;
  bottom: 1rem;
  padding: .3rem 1rem;
  color: white;
  font-size: 28px;
  font-weight: 700;
  font-family: sans-serif;
}

.price {
 position: absolute;
 left: 1.3rem;
 top: .4rem;
}

.currency {
  position: absolute;
  color: white;
  font-size: 14px;
  top: .5rem;
  right: 1.3rem;
}

.product__img {
  max-width: 300px;
  margin: 0 auto;
  justify-self: center;

}